{% extends 'base.html' %}
{% block main %}
<div class="first">
    <div class="about" style="margin-top: 50px; margin-left: 115px; margin-bottom: 50px">
        <div>
            <a><h3>ABOUT US</h3></a>
        </div>
        <div class="description" style="width: 95%;">
            <p>The Mugiwara Shop online supermarket was launched in 2023 and now more than <strong> 20,000 </strong>
                customers have entrusted their purchases to us.</p>
            <p>Our mission is to save our clients time and free them from boring routine. Do not stand in traffic jams
                and queues at the checkout and protect yourself from spontaneous purchases with us.

                Every day our couriers deliver a huge amount of goods — from kilograms of fresh vegetables and fruits to
                household chemicals and household goods, up to batteries and light bulbs.</p>
            <p>About 10,000 different products are stored in our warehouse, which are carefully selected from trusted
                suppliers. If we have brought a low—quality product, you can always return it to the courier on the spot
                and inform us. We are a supermarket to talk to!</p>
            <p><strong>Important! </strong></p>
            <p>If the product is missing when ordering, we can replace it with similar products. Replacement is always
                discussed in advance - you can agree with our recommended replacement options or reject the product.</p>

        </div>

    </div>
</div>


{% endblock %}