{% extends 'base.html' %}
{% block main %}
    {% load static %}
    <div style="display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 30px 10px;
        grid-auto-flow: row;margin: 100px auto auto;width: 70%;justify-items: center;
  align-items: center;">
    {% for i in all %}
        <div class="card" style="height : 100%;width: 80%;border: 3px solid black">
  <img class="card-img-top" style="height: 60%" src="{% static 'img/groceries.png' %}" alt="Card image cap">
  <div class="card-body" >
    <h4 class="card-title">{{ i.name }}</h4>
    <p class="card-text">{{ i.description }}</p>
      <p class="card-text"><b>{{ i.price }} ₸</b></p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
    {% endfor %}
    </div>
{% endblock %}