<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Final Project</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">

    <script type="text/javascript"  src="{% static 'js/bootstrap.bundle.js' %}"></script>
</head>
<body>

 <nav class="navbar navbar-expand-lg " style="background-color: #0dcaf0 ">
        <div class="navbar-header">
            <img src="{% static 'img/sticker.webp' %}" style="width: 80px;height: 70px;margin-left: 20px">
        </div>
            <h4 style="margin : 0 0 0 20px; width : 120px "> Mugiwara Shop </h4>
    <div class="dropdown">
  <button style="margin-right: 30px" class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
    Categories
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
      {% for c in categories %}
          <li><a class="dropdown-item" href="{% url 'currentc' c.id %}">{{ c.name }}</a></li>
      {% endfor %}
  </ul>
</div>
  <!-- Collapsible content -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent" >
            <ul class="navbar-nav me-auto" style="font-size: 30px;gap: 20px">
                <li class="nav-item active" >
                    <a class="nav-link" href= "{% url 'home' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'all' %}">All</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'about' %}">About us</a>
                </li>
            </ul>

            <form class="form-check-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2 form-control-lg" type="search" placeholder="Search" aria-label="Search">
            </form>
        {% if user.is_authenticated %}
            <div style="margin-right: 10px" class="dropdown">
                <button class="btn btn-warning dropdown-toggle btn-lg" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                <img alt="wow" style="margin-right: 10px;height: 35px;width : 35px" src="{% static 'img/user.png' %}"> {{ user.username }}
              </button>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{% url 'profile' %}">Profile</a></li>
                <li><a class="dropdown-item" href="#">Korzina</a></li>
                <li><a class="dropdown-item " href="{% url 'accounts:logout' %}">Logout</a></li>
              </ul>
            </div>
        {% else %}
            <form class="form-check-inline my-2 my-lg-0">
                <a class="btn btn-success my-2 my-sm-0 btn-lg" type="submit" href="{% url 'accounts:login' %}">Login</a>
            </form>
            {% endif %}
        </div>
    </nav>
    {% block main %}

    <div style="display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 30px 10px;
        grid-auto-flow: row;margin: 100px auto auto;width: 70%;justify-items: center;
  align-items: center;">
    {% for i in categories %}
        <div class="card" style="width: 70%;">
        {% if i.image %}
            <a href="{% url 'currentc' i.id %}"><img style="width: 50%" src="{{ i.image.url }}" class="card-img-top" alt="..."></a>
            {% endif %}

  <div class="card-body">
      <a href="{% url 'currentc' i.id %}"><h4 class="card-text" >{{ i.name }}</h4></a>
  </div>
</div>
    {% endfor %}
    </div>
 {% endblock %}
</body>
</html>