{% extends 'base.html' %}
{% block main %}
    <div class="container mt-5 mb-5 w-100">
    <div class="d-flex justify-content-center row">
        <div class="col-md-9 w-50">
            <div class="row p-1 bg-white border rounded ">
                {% if product.image  %}
                <div class="col-md-3 mt-2"><img class="img-fluid img-responsive rounded product-image" src="{{ product.image.url }}"></div>
                {% endif %}
                <div class="col-md-6 mt-1">
                    <h1>{{ product.name }}</h1>
                    <div class="d-flex flex-row">
                        <div class="ratings mr-2"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div><span>Amount : {{ product.amount }}</span>
                    </div>

                    <div class="mt-1 mb-1 spec-1"><span>Category : {{ product.category }}</span>
                    <p class="text-justify text-truncate para mb-0">Description : {{ product.description }}<br><br></p>
                </div>
                <div class="align-items-center align-content-center col-md-7 border-left mt-1">
                    <div class="d-flex flex-row align-items-center">
                        <h3 class="mr-1">{{ product.price }} ₸</h3>
                    </div>
                    <h6 class="text-success">Free shipping</h6>
                    {% if user.is_authenticated %}
                        <a href="{% url 'addbasket' product.id %}" class="btn btn-primary">Add to basket</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

