{% extends 'base.html' %}
{% block main %}

    {% load static %}
<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
<link rel="stylesheet" href="{% static 'css/profile.css' %}">
        <div class="page-content page-container " id="page-content" style="cursor: default">
    <div class="padding">
        <div class="row container d-flex justify-content-center">
<div class="col-xl-6 col-md-12">
                                                <div class="card user-card-full">
                                                    <div class="row m-l-0 m-r-0">
                                                        <div class="col-sm-4 bg-c-lite-green user-profile">
                                                            <div class="card-block text-center text-white">
                                                                <div class="m-b-25">
                                                                    <img style="width: 50%" src="{{ form.image.url }}" class="img-radius" alt="User-Profile-Image">
                                                                </div>
                                                                <h4 class="f-w-600">{{ user.username }}</h4>
                                                                <i class=" mdi mdi-square-edit-outline feather icon-edit m-t-10 f-16"></i>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-8">
                                                            <div class="card-block">
                                                                <h5 class="m-b-25 p-b-5 b-b-default f-w-600">Information</h5>
                                                                <div class="row">
                                                                    <div class="col-sm-6">
                                                                        <h5 class="m-b-10 f-w-600">First Name</h5>
                                                                        <h5 class="text-muted f-w-400">{{ user.first_name }}</h5>
                                                                    </div>
                                                                    <div class="col-sm-6">
                                                                        <h5 class="m-b-10 f-w-600">Last Name</h5>
                                                                        <h5 class="text-muted f-w-400">{{ user.last_name }}</h5>
                                                                    </div>
                                                                </div>
                                                                <div class="row" style="margin-top: 30px;margin-bottom: 30px">
                                                                    <div class="col-sm-6">
                                                                        <h5 class="m-b-10 f-w-600">Email</h5>
                                                                        <h5 class="text-muted f-w-400">{{ user.email }}</h5>
                                                                    </div>
                                                                    <div class="col-sm-6">
                                                                        <h5 class="m-b-10 f-w-600">Account</h5>
                                                                        <h5 class="text-muted f-w-400">{{ profilr.money }}</h5>
                                                                    </div>
                                                                </div>
                                                                <h6 style="margin-top : 20px" class="m-b-20 m-t-40 p-b-5 b-b-default f-w-600 p-t-5" >Last login : {{ user.last_login }}</h6>
                                                                <h6 class="m-b-20 m-t-40 p-b-5 b-b-default f-w-600">Join date : {{ user.date_joined }}</h6>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                             </div>
                                                </div>
                                            </div>
    {% endblock %}