{% extends 'base.html' %}

{% block main %}
  <h2>User Registration</h2>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <label class="input">
                    Username
                    {{ form.username }}
                </label>
      <label class="input">
                    First Name
                    {{ form.first_name }}
                </label>

                <label class="input">
                    Last Name
                    {{ form.last_name }}
                </label>

<label class="input">
                    Email
                    {{ form.email }}
                </label>

                <label class="input">
                    Password
                    {{ form.password1 }}
                </label>

                <label class="input">
                    Confirm Password
                    {{ form.password2 }}
                </label>

      {{ form.image }}
    <div class="form-group">
      <label for="id_image">Profile Picture</label>
    </div>
    <button type="submit" class="btn btn-primary">Register</button>
  </form>
{% endblock %}