{% extends 'base.html' %}
{% block main %}
    {% load static %}
    <div style="display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 30px 10px;
        grid-auto-flow: row;margin: 100px auto auto;width: 70%;justify-items: center;
  align-items: center;">
    {% for i in all %}
        <div class="card" style="height : 100%;width: 90%;border: 3px solid black">
        {% if i.image %}
            <a href="{% url 'currentp' i.id %}"><img class="card-img-top"  src="{{ i.image.url }}" alt="Card image cap"></a>
        {% endif %}

  <div class="card-body" >
      <a style="text-decoration: none" href="{% url 'currentp' i.id %}" class="card-title"><h4>{{ i.name }}</h4></a>
      <h5 class="card-text">{{ i.category }}</h5>
      <h4 style="margin-top:20px" class="card-text"><b>{{ i.price }} ₸</b></h4>
    {% if user.is_authenticated %}
               <a href="{% url 'addbasket' i.id %}" class="btn btn-primary">Add to basket</a>
      {% endif %}
  </div>
</div>
    {% endfor %}
    </div>
{% endblock %}